# CHEAP_LOGINS="[ user handle ]:[ SHA-1 hash of password ]"
# RS_SERVER_URI="[ storage address from webfinger ]"
# RS_TOKEN="[ access token for scope rs-bind:rw ]"
# GIT_REMOTE="[ https://[ user ]:[ password ]@[ repository host and path ]]"
# GIT_CONFIG_NAME="[ git commit name ]"
# GIT_CONFIG_EMAIL="[ git commit email ]"
