# NODE
node_modules
package-lock.json

# BUILD
**/__*/*

# OS
**/*.DS_Store

# LOCAL
.env*
!.env-sample
rs-bind/

# SVELTE
.npmrc
.svelte-kit
build

# PROTECTED
# ignore root pages in (protected) which are not authwalled
src/routes/(protected)/+page.*
src/routes/(protected)/+server.*
