:root {
	--background: var(--zd-bg-main);
	--text-color: var(--zd-text-main);
	--link-color: var(--zd-accent);
	--focus-cap: 400px;
	--spacing: 20px;
	--corner: 3px;
	--border-size: 2px;
	--border: var(--border-size) solid #e6e6e6;
	font-size: 12pt;

	--pico-primary-background: var(--zd-accent) !important;
	--pico-primary-hover: var(--zd-accent2) !important;
	--pico-primary-hover-background: var(--zd-accent2) !important;
}

body {
	color: var(--text-color);
}

a {
	--pico-color: var(--link-color);
	--pico-underline: var(--link-color);
}

wrap {
	background: var(--background);

	display: grid;
	place-items: center;
	min-height: 100vh;
}

focus {
	--background: var(--zd-bg-alt);

	display: block;

	max-width: var(--focus-cap);
	min-width: 300px;
	padding: var(--spacing);
	border-radius: var(--corner);
		
	background: var(--background);
}

pre {
	padding: var(--spacing);
}
