:root {
	--pico-color: var(--zd-c-text-1) !important;
	--pico-primary-background: var(--zd-c-brand-1) !important;
	--pico-primary-hover: var(--zd-c-brand-1-hover) !important;
	--pico-primary-hover-background: var(--zd-c-brand-1-hover) !important;
	
	--bind-focus-cap: 400px;
	--bind-spacing: 20px;
	--bind-corner: var(--zd-corner);
	--bind-border-size: 2px;
	--bind-border: var(--bind-border-size) solid #e6e6e6;
	
	font-size: 12pt;
}

a {
	--pico-color: var(--zd-c-brand-1);
	--pico-underline: var(--zd-c-brand-1);
}

wrap {
	background: var(--zd-c-bg);

	display: grid;
	place-items: center;
	min-height: 100vh;
}

focus {
	display: block;

	max-width: var(--bind-focus-cap);
	min-width: 300px;
	padding: var(--bind-spacing);
	border-radius: var(--bind-corner);

	background: var(--zd-c-bg-focus);
}

pre {
	padding: var(--bind-spacing);
}

table {
	--pico-background-color: #d4d2c3;
	--pico-table-border-color: transparent;
}
