:root {
  /* https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */
  --vp-c-bg: var(--zd-c-bg);
  --vp-c-bg-alt: var(--zd-c-bg-alt);
  --vp-c-bg-soft: var(--zd-c-bg-focus);

  --vp-c-text-1: var(--zd-c-text-1);
  --vp-c-brand-1: var(--zd-c-brand-1);

  --vp-button-brand-bg: var(--zd-c-brand-1);
  --vp-button-brand-hover-bg: var(--zd-c-brand-1-hover);
  --vp-button-alt-bg: var(--zd-c-bg-focus);

  --vp-nav-logo-height: 60px;
}

.VPNavBarExtra, .VPNavBarAppearance, .VPNavScreenAppearance {
  display: none !important;
}

.nodeLabel p {
  line-height: unset !important;
}

.edgeLabel foreignObject {
  --size: 36px;
  width: var(--size);
  height: var(--size);
  padding: var(--zd-spacing);

  div {
    display: block !important;
    background: rgba(255, 255, 255, 0.9) !important;
    border-radius: var(--zd-corner);
  }
}

.way {
  text-align: center;
}

@media (min-width: 450px) {
  .ways {
    display: flex;
    justify-content: center;

    .way {
      padding: calc(var(--zd-spacing) * 2);

      width: 40%;

      &:nth-child(1) svg {
        max-width: 92% !important;
      }

      &:nth-child(2) {
        max-width: 94% !important;
      }
    }
  }
}

@media (max-width: 450px) {
  svg {
    --clip: 80px;
    clip-path: inset(0 0 0 var(--clip));
    margin-left: calc(-1 * var(--clip));
  }

  .way:nth-child(1) svg {
    --clip: 40px;
  }

  .way:nth-child(2) svg {
    width: 130%;
  }

  .way-alt:nth-of-type(1) svg {
    --clip: 70px;
  }

  .way-alt:nth-of-type(2) svg {
    --clip: 90px;
    width: 130%;
  }

  .way-host svg {
    width: 120%;
  }
}

.app {
  display: flex;
  text-decoration: none !important;

  img {
    --size: 48px;
    max-width: var(--size);
    max-height: var(--size);
  }

  span {
    font-weight: normal;
    color: unset;
  }
}

details hr {
  border-top-color: #bdbdbd;
}

dl {
  margin-left: var(--zd-spacing);
}

dl :first-child {
  margin-top: 0;
}

dl :last-child {
  margin-bottom: 0;
}

dl dt {
  font-weight: bold;
}

dl dd {
  margin: 10px 0;
}
